// back to top button
.toTop {
  position: fixed;
  bottom: 12rem;
  right: 15rem;
  cursor: pointer;
  padding: 1rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: linear-gradient(to bottom, #428ae2 30%, $violet-1);
  background: -webkit-linear-gradient(to bottom, #428ae2 30%, $violet-1);
  box-shadow: 0 5px 1.5rem rgba(0, 0, 0, 0.3);
  z-index: 100;
  display: none;
  transition: background 0.5s ease-in;
  -webkit-transition: background 0.5s ease-in;
  -moz-transition: background 0.5s ease-in;
  -ms-transition: background 0.5s ease-in;
  -o-transition: background 0.5s ease-in;

  @include respond(phone) {
    right: 4rem;
    width: 5rem;
    height: 5rem;
  }

  &:hover {
    background: linear-gradient(to bottom, $violet-1 30%, #428ae2);
    background: -webkit-linear-gradient(to bottom, $violet-1 30%, #428ae2);
  }

  span {
    @include absCenter;
    color: $color-grey-light-1;
    font-size: 3rem;

    @include respond(phone) {
      font-size: 2rem;
    }
  }
}
