.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #2a5ff5 30%, $violet-1);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 34%);

  @include respond(phone) {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }

  @include respond(tab-port) {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 20%);
  }

  &__content {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: none;
  }
}
