.clientele {
  cursor: pointer;

  &:hover &__img {
    box-shadow: 1px 0.2rem 2.5rem rgba(130, 35, 255, 0.2);
  }
  &:hover &__img img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
  }
  padding: 2rem 0;
  &__img {
    position: relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 14rem !important;
    height: 14rem !important;
    border: 2px solid $violet-1;
    overflow: hidden;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    box-shadow: 3px 0.5rem 2.5rem rgba(130, 35, 255, 0.2);

    img {
      position: relative;
      width: 100%;
      max-width: 100%;
      object-fit: cover;
      filter: grayscale(1);
      -webkit-filter: grayscale(1);
      transition: filter 0.25s ease-out, transform 0.5s ease-out;
      -webkit-transition: filter 0.25s ease-out, transform 0.5s ease-out;
      -moz-transition: filter 0.25s ease-out, transform 0.5s ease-out;
      -ms-transition: filter 0.25s ease-out, transform 0.5s ease-out;
      -o-transition: filter 0.25s ease-out, transform 0.5s ease-out;
    }
  }
}
