.abs-content {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: row; //background-color: blue; z-index: 2;   & > div :; -webkit-border-radius:; -moz-border-radius:; -ms-border-radius:; -o-border-radius:;

  //responsive
  @include respond(phone) {
    top: 45%;
    width: 80%;
    flex-direction: column;
  }
  //responsive
  @include respond(tab-port) {
    top: 35%;
    width: 80%;
    flex-direction: column;
  }
  @include respond(tab-land) {
    top: 35%;
    width: 70%;
    flex-direction: column;
  }
  @include respond(laptop) {
    top: 35%;
    width: 70%;
    flex-direction: row;
  }

  & > div {
    flex: 1;
  }
  &--left,
  &--right {
    padding: 5rem 3rem;
    color: $color-grey-light-1;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  &--left {
    // background-color: $color-primary-light-1;
    background: linear-gradient(to bottom, #2a5ff5 30%, $violet-1);
    background: -webkit-linear-gradient(to bottom, #2a5ff5 30%, $violet-1);
  }
  &--right {
    background-color: $color-grey-dark-4;
  }
  &--box {
    &-heading1 {
      @include lora-font-white;
      font-size: 1.5rem;
      font-style: italic;
    }
    &-heading2 {
      @include poppins-font-white;
      font-size: 2.6rem;
      text-transform: uppercase;
      margin-top: 2rem;

      //responsive
      @include respond(phone) {
        font-size: 2rem;
      }
      //responsive
      @include respond(tab-port) {
        font-size: 2.3rem;
      }
      @include respond(tab-land) {
        font-size: 2.3rem;
      }
      @include respond(laptop) {
        font-size: 2.4rem;
      }
    }
    &-heading3 {
      @include lato-font-white;
      font-size: $default-font-size;
      margin-top: 2rem;
    }
  }
}
