.testimonialBox {
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
  box-shadow: 0.3rem 1rem 2.5rem rgba(0, 0, 0, 0.2);
  margin: 1.5rem;
  position: relative;
  //background: rgb(119, 132, 250);
  display: flex;
  flex-direction: row;
  transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;

  &:hover {
    box-shadow: 0.1rem 0.3rem 1.2rem rgba(0, 0, 0, 0.2);
  }

  &__left,
  &__right {
    padding: 2rem;
    text-align: center;
  }

  &__img {
    position: relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 14rem !important;
    height: 14rem !important;
    border: 2px solid #54459a;
    overflow: hidden;
    img {
      position: relative;

      width: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
  &__quote-icon {
    margin-top: 2rem;
    svg {
      position: relative;
      margin: 0 0 1.5rem 0;
      color: #b1abff;
      font-size: 5rem;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-top: 0;
    font-style: italic;
    font-weight: 400;
    color: $color-grey-dark-4;
    font-family: "Lora", serif;

    @include respond(phone) {
      font-size: 1.6rem;
    }
    @include respond(tab-port) {
      font-size: 1.8rem;
    }
    @include respond(tab-land) {
      font-size: 1.8rem;
    }
  }
  &__name {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0;
    margin: 2rem 0 0.5rem 0;
    font-family: "Poppins", serif;
  }

  span.position {
    font-size: 1.3rem;
    color: $color-grey-dark-4;
    font-weight: 500;
    font-family: "Lato", sans-serif;
  }
}
