.paragraph-default {
  font-size: 1.4rem;
  text-align: justify;
  color: $color-grey-dark-4;
  font-family: "Lato", sans-serif;

  @include respond(phone) {
    font-size: 1.7rem;
  }
  @include respond(tab-port) {
    font-size: 1.8rem;
  }
  @include respond(tab-land) {
    font-size: 2rem;
  }
}
