// contact section
.contact {
  padding: 6rem 3rem;
  &__text {
    margin-bottom: 7rem;

    @include respond(phone) {
      margin-bottom: 2rem;
    }
  }

  &__info {
    @include respond(phone) {
      margin-bottom: 6rem;
    }
    & > * {
      font-size: 1.8rem;
      margin: 2rem;
    }

    &--address,
    &--phone,
    &--email {
      font-weight: 500;
      span {
        margin-right: 2rem;
        color: $color-primary;
      }
    }
  }

  &__map {
    margin-bottom: 3rem;
    @include respond(phone) {
      margin: 3rem 2rem;
    }
    @include respond(tab-port) {
      margin: 3rem 2rem;
    }
    .map-img {
      width: 100%;
      padding: 1rem 2rem;
    }
  }
}

.enquiry {
  padding: 6rem 3rem;
  background: linear-gradient(to bottom, #2a5ff5 30%, $violet-1);
  background: -webkit-linear-gradient(to bottom, #2a5ff5 30%, $violet-1);
  margin-bottom: 239px; // For footer to reveal

  @include respond(phone) {
    margin-bottom: 397px;
  }
  @include respond(tab-port) {
    margin-bottom: 397px;
  }

  &__text {
    margin-bottom: 7rem;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 50rem;
    background-color: orangered;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 50%,
        transparent 50%
      ),
      url("../../images/contact_enquiry3.jpg");
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  }

  &__form {
    width: 50%;
    padding: 3rem 4rem;

    h4 {
      color: $color-primary;
      font-family: "Poppins", serif;
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}
